body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #03045E;
    background-color: #90E0EF;
}

#meu-nome {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
}

.descricao {
    font-family: sans-serif;
    font-style: italic;
}

.resido {
    font-size: 25px;
    font-style: oblique;
}

ul {
    font-size: 1.5em;
}





