body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #03045E;
    background-color: #90E0EF;
}

.meuNome {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
}

.descricao {
    font-family: sans-serif;
    font-style: italic;
    position: absolute;
    top: 35%;
    left: 200px;
}

.resido {
    font-size: 25px;
    font-style: oblique;
}

ul {
    font-size: 1.5em;
}

#foto {
    background-color: #0077B6;
    float: left;
    height: 280px;
    padding: 10px;
}

.image-container {
    height: 300px;
    position: relative;
}

ul li:nth-child(odd){
    background-color: aqua;
}







